@media print {
    html,
    body,
    header,
    article,
    aside,
    footer,
    hgroup,
    main,
    nav,
    section {
        background-color: white;
    }
    nav {
        display: none;
    }
    div#slidedroite {
        display: none;
    }
    footer {
        display: none;
    }
    .div_contenu_Saisie_3 {
        display: none;
    }
    button {
        display:none;
    }
    .btn {
        display: none;
    }
    div#div_tableau1,
    div#div_tableau2{
        max-height: none;
    }
    #onglets:not(.actif) {
        display: none;
    }
    li:not(.actif) {
        display: none;
    }
    .tabslider .nav-tab ,
    .tabslider .nav-tab2{
        display: none;
    }
    .clstableau {
        margin-left: 0px;
        height: auto;
        width: auto;
        /*        overflow:visible;*/
    }
    div#dessin {
        width: auto;
        height: auto;
        overflow:inherit;
    }
}
