#dessin {
    background-color: white;
    display: block;
    width: 800px;
    height: 600px;
    overflow:auto;
}
#canvasEtape {
    /*    background-color: bisque;*/
    /*width:600;
    height :400;*/
    border: 1px solid #CCC
}
