.tabslider {
    /*    background-color: red;
    width:150px;*/
    float: none;
}
.tabslider {
    max-width: 800px;
    height: 600px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden;
}
.tabslider .content {
    -moz-flex: 19;
    -ms-flex: 19;
    -o-flex: 19;
    -webkit-box-flex: 19;
    flex: 19;
    background-color: white;
    width: 500%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    
}
.tabslider .content2 {
    -moz-flex: 19;
    -ms-flex: 19;
    -o-flex: 19;
    -webkit-box-flex: 19;
    flex: 19;
    background-color: white;
    width: 500%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
/*
.tabslider .content::nth-child(1) {
}
*/
.tabslider .sub-content {
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-align: ;
    -ms-flex-align: ;
    align-items: ;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    margin: 5px;

}
.tabslider .sub-sub-content {
/*     pour régler l'affichage sous firefox*/
    max-width: 600px;
    max-height: 500px;
    

}
.tabslider .sub-sub-content div table {
    margin: 0 auto;
}
.tabslider .sub-sub-content:nth-child(1) {
    background-color: white;
}
.tabslider nav {
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tabslider .nav-tab,
.tabslider .nav-tab2 {
    /*height                              :   100%;*/
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
/*    background: linear-gradient(var(--deg), #e0e3e8, #abacaf);*/
    background: #b2b3b5;
    border: 2px solid black;
    color :white;
    
    
}
.tabslider .nav-tab:active,
.tabslider .nav-tab2:active {
    background: bisque;
}
.tabslider .active {
    background: #5f5d5d;
}