@media print {
    html,
    body,
    header,
    article,
    aside,
    footer,
    hgroup,
    main,
    nav,
    section {
        background-color: white;
    }
    nav {
        display: none;
    }
    a {
        display: none;
    }
    div#slidedroite {
        display: none;
    }
    footer {
        display: none;
    }
/*
    div#dessin {
        width: auto;
        height: auto;
        overflow:inherit;
    }
*/
}
